/* src/styles/underlineAnimation.css */
.underline-animation {
    position: relative;
    /* display: inline-block; */
    cursor: pointer;
  }
  
  .underline-animation::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 2px;
    bottom: 0;
    margin-bottom: -10px;
    /* left: -10%; */
    background-color: white;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
   
  }
  